{% extends "shuup/front/base.jinja" %}
{% from "shuup/simple_cms/macros.jinja" import render_open_graph with context %}
{% from "shuup_cms_blog/plugins/macros.jinja" import render_article_features with context %}

{% block title %}{{ page.title }}{% endblock %}

{% block content_title %}
    {% if page.render_title %}
        {{ page.title }}
    {% endif %}
{% endblock %}

{% block extrameta %}
{{ render_open_graph(page) }}
<link rel="stylesheet" href="{{ static("shuup-cms-blog.css") }}">
{% endblock %}


{% block breadcrumb %}
    {% call macros.breadcrumb() %}
        {{ macros.render_breadcrumb_item("/", _("Home")) }}
        {% for ancestor in page.get_ancestors() if ancestor.is_visible() %}
            {{ macros.render_breadcrumb_item("/" + ancestor.url, ancestor.title) }}
        {% endfor %}
        {{ macros.render_breadcrumb_item(None, page.title, True) }}
    {% endcall %}
{% endblock %}


{% block content %}
    <div class="container cms-content">
        {% placeholder "blog_page_header" %}{% endplaceholder %}
        {{ render_article_features(page) }}
        {% placeholder "blog_page_middle" %}{% endplaceholder %}
        {{ page.get_html()|safe }}
        <h2>{% trans %}Related articles{% endtrans %}</h2>
        {% placeholder "front_content" %}
            {% plugin "shuup_cms_blog_articles_list" %}{% endplugin %}
        {% endplaceholder %}
        {% placeholder "blog_page_footer" %}{% endplaceholder %}
    </div>
{% endblock %}
