{% from "shuup_cms_blog/plugins/macros.jinja" import render_article_card %}

<div class="blog-articles-list container cms-content">
    <div class="row">
    {% for article in articles %}
        {{ render_article_card(article) }}
    {% endfor %}
    </div>
</div>
